.popup_wrapper {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(50, 50, 50, 0.3);	
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items:center;
}

.popup {
	background-color: white;
	width: 600px;
	height: 700px;
	border-radius: 10px;
	cursor: default;
	position: relative;
	padding: 10px;
	padding-right: 40px;
}

.popup__close {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
	cursor: pointer;
}

.tabpage {
	margin-left: 40px;
	margin-top: 25px;
}

.tabpage__title {
	font-size: 17px;
}

.radio_input {
	display: flex;
	align-items: center;
	color: rgb(50, 50, 50, 0.8);
	margin: 0;
	margin-top: 10px;
}

.tabpage__form {
	margin-top: 15px;
	font-size: 14px;
	width: 100%;
}

.btn_radio {
	margin-right: 15px;
}

.tabpage__container {
	border-radius: 10px;
	margin-top: 25px;	
	padding: 10px;
}

.terminal_is_taken {
	margin-top: 10px;
	color: red;
}

.terminal_is_not_taken {
	margin-top: 10px;
	color: green;
}

.button-next {
	position: absolute;
	bottom: 20px;
	right: 20px;
	justify-self: right;
	padding: 10px 15px;
	border-radius: 10px;
	background-color: #8FDCEA;	
	cursor: pointer;
}

.button-back {
	position: absolute;
	bottom: 20px;
	left: 20px;
	justify-self: right;
	padding: 10px 15px;
	border-radius: 10px;
	background-color: #8FDCEA;	
	cursor: pointer;
}

.button-next:hover {
	background-color: #5ad6ec;
}

.button-next:disabled {
	cursor: default;
	background-color: rgba(50, 50, 50, 0.3);
}

.connections-list {
	position: absolute;
	width: 265px;
	min-height: 50px;
	max-height: 100px;
	background-color: rgb(179, 179, 179);
	z-index: 3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px;
}

.allowed-connection {
	font-size: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	height: 50px;
	color: rgb(50, 50, 50);
	justify-content: space-between;
	transition: .3s ease;
}

.allowed-connection:hover {
	background-color: #63C5DA;
	border-radius: 10px;
}

.allowed-connection-name {
}

.allowed-connection-addr {
	width: 70%;
}

.connection-ports {
	min-height: 50px;
	background-color: rgb(156, 156, 156);
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.connection-title {
	margin-left: 10px;
}

.switch-port {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.switch-port-wrapper {
	cursor: pointer;
}

.switch-port-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-right: 20px;
}

.switch-port-hover {
	background-color: #8FDCEA;
	border-radius: 10px;
	padding: 5px;
	position: absolute;
	left: 10px;
	bottom: -50px;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease;
	z-index: 5;
	width: 150px;
	font-size: 14px;
}

.switch-port-container:hover  .switch-port-hover {
	opacity: 1;
	visibility: visible;
}

.switch-port-connection-span {
	color: white;
}

.connection-switch-ports-warn {
	color: red;
	font-size: 18px;
}

.switch-port-wrapper {
	border-radius: 10px;
	transition: .3s ease;
}

.switch-port-wrapper.active {
	background-color: green;	
}

.table-data {
	border-right: 1px solid rgb(50, 50, 50);
	font-weight: 600;
}

td {
	padding-left: 10px;
}

.table {
	border-radius: 10px;
	width: 100%;
	border: 1px solid rgb(50, 50, 50);
}
